{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "plugins": ["import", "react"],
  "parser": "babel-eslint",
  "rules": {
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "indent": ["error", 2],
    "no-unused-vars": "off",
    "no-console": "off"
  }
}
